<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include 'include.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>iksa_new</title>
</head>

<body style="margin-top: 0px;">
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="#">
                <h2 class="text-center"><img src="{% static 'assets/img/inverted%20image.png' %}" width="80px" height="80px">&nbsp;Imran Krish Skating Association</h2>
            </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage' %}">Home</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Registrations</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'skater_registration' %}">Skater Registration</a>
                            <a class="dropdown-item" href="{% url 'dancer_registration' %}">Dancer Registration</a>
                            <a class="dropdown-item" href="{% url 'acservicebooking' %}">AC - Service Booking</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="btn btn-light border rounded-pill" href="{% url 'login_user' %}">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row login-form" style="margin-top: 100px;">

        <div class="col-md-4 offset-md-4" style="margin-top: 20px;margin-bottom: 20px;">
            {% if messages %}
                {% for messages in messages%}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{messages}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                 {% endfor %}
            {% endif %}
            <h2 class="text-center form-heading">Login Form</h2>
            <form class="custom-form" method="post">
                {% csrf_token %}
                <div class="form-group mb-3"><input class="form-control" type="email" placeholder="Email" name="username"></div>
                <div class="form-group mb-3"><input class="form-control" type="password" placeholder="Password" name="password"></div><button class="btn btn-success d-block submit-button w-100" type="submit">LOGIN</button>
            </form>
        </div>
    </div>

</body>

</html>